* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

#backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.spinner {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--el-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--el-color) transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-header {
  height: 80px;
  background-color: var(--el-color);
  box-shadow: 0px 2px 4px 0px var(--sh-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  color: var(--tx-color);
}

.main-header__title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 33px;
}

.main-header__button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--tx-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}

#content {
  position: relative;
  overflow: hidden;
}

.country-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 10;
  padding: 80px;
}

.country-details__button {
  all: unset;
  box-sizing: border-box;
  font-family: inherit;
  height: 40px;
  border-radius: 6px;
  width: 136px;
  cursor: pointer;
  background-color: var(--el-color);
  box-shadow: 0px 0px 7px 0px var(--sh-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 20px;
  color: var(--tx-color);
}

.country-details__button path {
  fill: var(--tx-color);
}

.country-details__article {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.country-details__info {
  max-width: 540px;
  width: 100%;
}

.country-details__info-title {
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  color: var(--tx-color);
  margin-bottom: 23px;
}

.country-details__info-lists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  gap: 24px;
}

.country-details__info-list {
  list-style: none;
  color: var(--tx-color);
}

.country-details__info-item {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32px;
}

.country-details__info-item span {
  font-weight: 600;
}

.country-details__border-countries {
  display: flex;
  gap: 16px;
}

.country-details__border-countries-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: var(--tx-color);
  white-space: nowrap;
}

.country-details__border-countries-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.country-details__border-countries-item {
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 19px;
  color: var(--tx-color);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--el-color);

  width: 96px;
  height: 26px;
  box-shadow: 0px 0px 4px 1px var(--sh-color);
  border-radius: 2px;
}

.actions {
  padding: 48px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.actions__form {
  position: relative;
  max-width: 480px;
  width: 100%;
}

.actions__form input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--el-color);
  box-shadow: 0px 2px 9px var(--sh-color);
  border-radius: 5px;
  height: 56px;
  font-family: inherit;
  padding-left: 74px;
  padding-right: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: var(--tx-color);
}

.actions__form input::placeholder {
  color: var(--tx-color-ligther);
}

.actions__form button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 18px;
  left: 32px;
}

.actions__dropdown-container {
  position: relative;
  color: var(--tx-color);
  max-width: 200px;
  width: 100%;
  z-index: 9;
}

.actions__dropdown-button {
  all: unset;
  height: 56px;
  border-radius: 5px;
  background-color: var(--el-color);
  box-shadow: 0px 2px 9px 0px var(--sh-color);
  width: 100%;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.actions__dropdown-options-list {
  position: absolute;
  display: none;
  height: 0;
  width: 100%;
  margin-top: 4px;
  list-style: none;
  background-color: var(--el-color);
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px var(--sh-color);
  overflow: auto;
  scrollbar-color: var(--tx-color-ligther) var(--el-color);
  scrollbar-width: thin;
  transition: height 600ms ease-out;
}

/* width */
.actions__dropdown-options-list::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.actions__dropdown-options-list::-webkit-scrollbar-track {
  background: var(--el-color);
}

/* Handle */
.actions__dropdown-options-list::-webkit-scrollbar-thumb {
  background: var(--tx-color-ligther);
}

/* Handle on hover */
.actions__dropdown-options-list::-webkit-scrollbar-thumb:hover {
  background: var(--tx-color);
}

.actions__dropdown-options-item {
  position: relative;
  padding: 4px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  cursor: pointer;
}

.actions__dropdown-options-item:first-child {
  margin-top: 8px;
}

.actions__dropdown-options-item:last-child {
  margin-bottom: 8px;
}

.--options-item-active {
  font-weight: bold;
  color: var(--options-item-active-color);
}

.flags-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 264px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 74px;
  padding: 0 80px 45px;
}

.flags-container__card {
  position: relative;
  max-width: 264px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px var(--sh-color);
  background-color: var(--el-color);
  min-height: 336px;
}

.flags-container__card img {
  width: 100%;
  object-fit: cover;
}

.flags-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.flags-container__card-info {
  padding: 24px;
}

.flags-container__card-title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 26px;
  color: var(--tx-color);
  margin-bottom: 16px;
}

.flags-container__card-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 16px;
  color: var(--tx-color);
}

.flags-container__card-list span {
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .country-details__article {
    flex-direction: column;
    align-items: center;
    gap: 44px;
  }
}

@media screen and (max-width: 960px) {
  .main-header {
    padding: 0 48px;
  }

  .actions {
    padding: 48px;
  }

  .actions__form {
    margin-right: 80px;
  }

  .flags-container {
    padding: 0 48px 45px;
  }
}

@media screen and (max-width: 855px) {
  .actions__form {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 725px) {
  .country-details {
    padding: 40px 28px 60px;
  }
}

@media screen and (max-width: 640px) {
  .actions__form {
    margin-right: 0;
    max-width: none;
  }

  .country-details__img img {
    width: 320px;
    height: 229px;
  }

  .country-details__info {
    max-width: 320px;
  }

  .country-details__info-title {
    margin-bottom: 16px;
  }

  .country-details__info-lists {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 34px;
  }

  .country-details__border-countries {
    flex-direction: column;
    gap: 22px;
  }
}

@media screen and (max-width: 540px) {
  .main-header {
    padding: 0 16px;
  }

  .main-header__title {
    font-size: 0.875rem;
    line-height: 20px;
  }

  .main-header__button {
    font-size: 0.75rem;
    line-height: 16px;
  }
  .actions {
    padding: 24px 16px 32px;
  }

  .actions__form input::placeholder {
    font-size: 0.75rem;
  }

  .actions__dropdown-button {
    font-size: 0.75rem;
    line-height: 20px;
  }

  .actions__dropdown-options-item {
    font-size: 0.75rem;
    line-height: 16px;
  }

  .flags-container {
    padding: 0 16px 45px;
  }

  .country-details__button {
    font-size: 14px;
    line-height: 20px;
    width: 120px;
    height: 32px;
  }

  .country-details__info-title {
    font-size: 1.375rem;
    line-height: 30px;
  }

  .country-details__info-item {
    font-size: 0.875rem;
    line-height: 32px;
  }

  .country-details__border-countries-item {
    font-size: 0.75rem;
    line-height: 16px;
  }
}
