:root {
  --bg-color: #f2f2f2;
  --el-color: #ffffff;
  --tx-color: #111517;
  --tx-color-ligther: #848484;
  --sh-color: #0000000e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.main-header {
  height: 80px;
  background-color: var(--el-color);
  box-shadow: 0px 2px 4px 0px var(--sh-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  color: var(--tx-color);
}

.main-header__title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 33px;
}

.main-header__button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--tx-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}

#display {
  min-height: calc(100vh - 80px);
}

.content-search {
  padding: 48px 80px;
}

.content-search__form-container {
  position: relative;
  max-width: 480px;
  width: 100%;
}

.content-search__form-container input {
  all: unset;
  width: 100%;
  background-color: var(--el-color);
  box-shadow: 0px 2px 9px var(--sh-color);
  border-radius: 5px;
  height: 56px;
  font-family: inherit;
  padding-left: 74px;
  padding-right: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: var(--tx-color);
}

.content-search__form-container input::placeholder {
  color: var(--tx-color-ligther);
}

.content-search__form-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 32px;
}
