* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.main-header {
  height: 80px;
  background-color: var(--el-color);
  box-shadow: 0px 2px 4px 0px var(--sh-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  color: var(--tx-color);
}

.main-header__title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 33px;
}

.main-header__button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--tx-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}

#display {
  min-height: calc(100vh - 80px);
}

.actions {
  padding: 48px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions__form {
  position: relative;
  max-width: 480px;
  width: 100%;
}

.actions__form input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--el-color);
  box-shadow: 0px 2px 9px var(--sh-color);
  border-radius: 5px;
  height: 56px;
  font-family: inherit;
  padding-left: 74px;
  padding-right: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: var(--tx-color);
}

.actions__form input::placeholder {
  color: var(--tx-color-ligther);
}

.actions__form img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 32px;
}

.actions__dropdown-container {
  position: relative;
  color: var(--tx-color);
  max-width: 200px;
  width: 100%;
}

.actions__dropdown-button {
  all: unset;
  height: 56px;
  border-radius: 5px;
  background-color: var(--el-color);
  box-shadow: 0px 2px 9px 0px var(--sh-color);
  width: 100%;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.actions__dropdown-options-list {
  position: absolute;
  display: none;
  height: 0;
  width: 100%;
  margin-top: 4px;
  list-style: none;
  background-color: var(--el-color);
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px var(--sh-color);
  overflow: auto;
  scrollbar-color: var(--tx-color-ligther) var(--el-color);
  scrollbar-width: thin;
  transition: height 600ms ease-out;
}

/* width */
.actions__dropdown-options-list::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.actions__dropdown-options-list::-webkit-scrollbar-track {
  background: var(--el-color);
}

/* Handle */
.actions__dropdown-options-list::-webkit-scrollbar-thumb {
  background: var(--tx-color-ligther);
}

/* Handle on hover */
.actions__dropdown-options-list::-webkit-scrollbar-thumb:hover {
  background: var(--tx-color);
}

.actions__dropdown-options-item {
  position: relative;
  padding: 4px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  cursor: pointer;
}

.actions__dropdown-options-item:first-child {
  margin-top: 8px;
}

.actions__dropdown-options-item:last-child {
  margin-bottom: 8px;
}

.--options-item-active {
  font-weight: bold;
  color: var(--options-item-active-color);
}
